<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StartWithVue</title>
    <script src="https://unpkg.com/vue@3.5.12"></script>
</head>
<body>
    <div id="app">
        <div>
            <p>title:{{title}}</p>
            <input v-model="inputValue" @input="changeTitle()" placeholder="change title here">
        </div>

        <button @click="changeVisibility()" v-if="visibility">hide</button>
        <button @click="changeVisibility()" v-else>show</button>

        <div v-if="visibility">
            <p>counter: {{counter}}</p>
            <button v-on:click="counter++">increase</button>
            <button @click="counter--">decrease</button>
        </div>

        <div>
            <ul>
                <li v-for="user in users">{{user.name}}</li>
            </ul>
        </div>
    </div>

    

    <script src="app.js"></script>
</body>
</html>